<%= form_for(@bill, html: { role: 'form' }) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :store %><br>
    <%= f.text_field :store, class: 'form-control', placeholder: 'Enter store name' %>
  </div>
  <div class="form-group">
    <%= f.label :bought_on %><br>
    <%= f.date_select :bought_on, order: [:day, :month, :year] %>
  </div>
  <div class="form-group">
    <%= f.label :total %><br>
    <%= f.text_field :total, class: 'form-control', data: {behavior: 'auto_numeric'}, placeholder: 'Amount spent' %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-success btn-xs active" %>
    <%= link_to 'Back', bills_path, class: "btn btn-primary btn-xs active" %>
  </div>
<% end %>
