<h1>Listing bills <%= link_to 'New Bill', new_bill_path, class: "btn btn-success active btn-small" %> </h1>
<% a = current_user.bills.count + 1 %>

<table class="table table-bordered table-striped table-condensed table-responsive">
  <thead>
  <tr  bgcolor="#a9a9a9">
    <th>
      <div align="center"> Sl.</div>
    </th>
    <th>
      <div align="center"> Store </div>
    </th>
    <th>
      <div align="center"> Bought on </div>
    </th>
    <th>
      <div align="center"> Amount </div>
    </th>
  </tr>
  </thead>

  <tbody>
  <% @bills.each do |bill| %>
      <tr>
        <td>
          <div align="right"> <%= link_to a -= 1, bill %> </div>
        </td>
        <td> <%= link_to bill.store.upcase, bill %>
        </td>
        <td>
          <div align="center"> <%= link_to bill.bought_on.strftime("%d-%b-%Y"), bill %> </div>
        </td>
        <td>
          <div align="right"> <%= link_to number_to_currency(bill.total), bill %> </div>
        </td>
      </tr>
  <% end %>
  <td class="warning" colspan="4">
    <div align="right"> Total is <strong> <%= number_to_currency(@amount) %> </strong> </div>
  </td>
  </tbody>

</table>

