<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>
<li><%= link_to 'Sign up', new_user_registration_path %> </li>
<li> <%= link_to 'Log in', new_user_session_path %> </li>

<p class="navbar-text pull-right">
<% if user_signed_in? %>
  <%= link_to 'bills', bills_path, :class => 'navbar-link' %> |
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% end %>
